.sidepanel {
  position: fixed;
  width: 300px !important;
  top: 0;
  right: 0;
}

.sidepanel ul {
  margin: 0;
}

.sidepanel,
.sidepanel a {
  color: #fff !important;
}

.sidepanel-box {
  background-color: #0257ac9c;
  width: 100%;
  margin-bottom: 10px;
}

.sidepanel-box .btn {
  margin-bottom: 6px;
  width: 100px;
}

/* accoordians */
.sidepanel .accordion-body {
  padding: 10px 14px;
}

.sidepanel .accordion-button {
  padding: 10px 16px;
}

.sidepanel .material-symbols-rounded {
  font-size: 20px;
}

/* measurement tools */
#measurement-panel {
  display: none;
}